.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  }

input {
  width: 230px;
  padding: 10px;
  text-align: center;
  border: #ffe4d9 solid 2px;
}

input:hover {
  border: 2px solid #ff935b;
}

.btn {
  border: none;
  width: 250px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.add {
  background-color: #c7db86;
}

.delete {
  background-color: #e48a70;
}

ul {
  display: flex;
  flex-direction: column;
  }
li {
  list-style: none;
  margin: 10px 0 10px -40px;
  padding: 10px;
  background-color: #fbeede;
  width: 300px;
  align-self: center;
  }

  /* .check {
    margin-left: -100px;
    background-color: black;
  }

  .check:checked:after {
    background-color: #ffa500;
  }

  span {
    width: 40px;
    align-self: center;
  } */

  .crossed {
    text-decoration: line-through;
    background-color: #ff935b;
  }